<div class="post">
    <h2>{{title}}</h2>
    {{#author_uri}}
        <a class="author" href="{{author_uri}}">Written by {{author}}</a>
    {{/author_uri}}
    {{^author_uri}}
        <span class="author">Written by {{author}}</a>
    {{/author_uri}}
    <div class="tags">
       Classified under:
        {{#tags}}
          <a href="{{uri}}" class="{{name}}">mirageos</a>
        {{/tags}}
    </div>
    <br />
    <span class="date">{{created}} {{updated}}</span>
    <br />
    {{{content}}} 
</div>
