<a href="{{uri}}" class="list-group-item">
   <h2 class="list-group-item-heading">{{title}}</h2>
   <span class="author">Written by {{author}}</span>
   <time>{{created}}</time>
   <p>{{abstract}}</p>
</a>
