<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <title>{{title}}</title>
      <meta charset="UTF-8"/>
      <link rel="stylesheet" href="/static/css/style.css"/>
      <link rel="stylesheet" href="/static/css/highlight.css"/>
      <script src="/static/js/highlight.pack.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
      <link rel="alternate" href="/atom" title="{{site_name}}" type="application/atom+xml"/>
    </head>
    <body>
       <nav class="navbar navbar-default navbar-fixed-top">
       <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand" href="{{site_index}}">{{site_name}}</a>
       </div>
       <div class="collapse navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
         {{#pages}}
           <li><a href="{{uri}}"><span>{{name}}</span></a></li>
         {{/pages}}
       </ul>
       </div>
       </div>
      </nav>
      <main>
        {{title}}
        {{{content}}}
      </main>
    </body>
</html>
