<div class="post">
    <h2>Tags</h2>
    <div class="list-group listing">
        <p class="tags">
            {{#tags}}
                <a href="/tags/UI" class="list-group-item">UI</a>
            {{/tags}}
        </p>
    </div>
</div>
